<div class="col-md-6 text-center">

  <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <select class="form-control" id="sel1" formControlName="datarange">
        <option *ngFor="let key of keys" [value]="key" [label]="dataranges[key]"></option>
      </select>
      <button type="submit" [disabled]="!form.valid" class="btn btn-primary btn-block" >Submit</button>  
    </div>
  </form>

  <span class="text-center">Statystyki</span>
  <table class="table table-bordered">
      <tbody>
      <tr>
        <td>MIN:</td>
        <td>{{ _stats ? _stats.min : 0}} &#8451;</td>
      </tr>
        <tr>
        <td>MAX:</td>
        <td>{{ _stats ? _stats.max : 0}} &#8451;</td>
      </tr>
        <tr>
        <td>AVG:</td>
        <td>{{ _stats ? _stats.max : 0}} &#8451;</td>
      </tr>
    </tbody>
  </table>
  
</div>