<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div style="display: block;">
    <canvas baseChart
                [data]="lineChartData ? lineChartData[0].data : []"
                [labels]="lineChartLabels.slice(lineChartData ? -lineChartData[0].data.length : 0)"
                [options]="lineChartOptions"
                [chartType]="lineChartType"></canvas>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
      <div class="form-group">
        <select class="form-control" id="sel1" formControlName="datarange">
          <option *ngFor="let key of keys" [value]="key" [label]="dataranges[key]"></option>
        </select>
        <button type="submit" [disabled]="!form.valid" class="btn btn-primary btn-block" >Submit</button>  
      </div>
    </form>
  </div>
</div>