<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/home']">Strona glowna</a></li>
        <li><a [routerLink]="['/chart']">Wykresy</a></li>
        <li><a [routerLink]="['/settings']">Ustawienia</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/profile']">Konto</a></li>
        <li><a (click)="logout()">Wyloguj</a>
      </ul>
    </div>
  </div>
</nav>
