<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4 ">
      <h1></h1>
      <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
          <div class="form-group row">
              <label class="col-sm-2 col-form-label">Login</label>
              <div class="col-sm-10">
                <input type="text" formControlName="name" class="form-control"> 
              </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-2 col-form-label">Haslo</label>
              <div class="col-sm-10">
                <input type="password" formControlName="password" class="form-control"> 
              </div>
          </div>
           <div class="form-group row">
              <button type="submit" (click)="login" [disabled]="!form.valid" class="btn btn-primary btn-block" >Zaloguj</button>
          </div>
      </form>
    </div>
  </div>
</div>