<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1></h1>
      <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
          <div class="form-group row">
              <label class="col-sm-7 col-form-label">Stare haslo</label>
              <div class="col-sm-5">
                <input type="text" formControlName="oldpass" class="form-control"> 
              </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-7 col-form-label">Nowe haslo</label>
              <div class="col-sm-5">
                <input type="text" formControlName="newpass" class="form-control"> 
              </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-7 col-form-label">Powtorz noew haslo</label>
              <div class="col-sm-5">
                <input type="text" formControlName="newpassretyped" class="form-control"> 
              </div>
          </div>
           <div class="form-group row">
              <button type="submit" [disabled]="!form.valid" class="btn btn-primary btn-block" >Submit</button>
          </div>
      </form>
    </div>
  </div>
</div>