<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <h1></h1>
      <form [formGroup]="cleanForm" (ngSubmit)="clean()">
        <div class="form-group row">
            <button type="submit" class="btn btn-primary btn-block" >Wyczysc dane z bazy</button>
        </div>
      </form>


      <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
          <div class="form-group row">
              <label class="col-sm-7 col-form-label">Email notyfikacji</label>
              <div class="col-sm-5">
                <input type="text" formControlName="email" class="form-control"> 
              </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-7 col-form-label">Czy wysylac notyfikacje?</label>
              <div class="col-sm-5">
                <input type="checkbox" formControlName="send" class="custom-control-input" >
              </div>
          </div>
           <div class="form-group row">
              <label class="col-sm-7 col-form-label">Mimimalna dopuszczalna temperatura</label>
              <div class="col-sm-5">
                <input type="text" formControlName="min" class="form-control"> 
              </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-7 col-form-label">Maksymalana dopuszczalna temperatura</label>
              <div class="col-sm-5">
                <input type="text" formControlName="max" class="form-control"> 
              </div>
          </div>
           <div class="form-group row">
              <button type="submit" [disabled]="!form.valid" class="btn btn-primary btn-block" >Submit</button>
          </div>
      </form>
    </div>
  </div>
</div>
